*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #042ae6;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #45376b;
}
.header{
    background: radial-gradient(#fff,#8697ea);
}
.header .row{
    margin-top:30px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.img1{
     height: 539px;   
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: #042ae6;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.ratings{
    color: #042ae6;
}
h4{
    color: #555;
    font-weight: bold;
}
.col-4:hover{
     transform: translateY(-10px);
}
.offer{
    background: radial-gradient(#fff,#8697ea);
    margin-top: 80px;
    padding: 30px 0;   
}
.col-2{
    max-width: 1400px;
}
.col-2 .offer-img{
    padding: 50px;
}
.col-2 p{
    font-weight: bold;
    font-size: 16px;
}
.col-2 small{
    font-size: 17px;
}
.testonomial{
    padding-top: 30px;
}
.testonomial .col-3{
      text-align: center;
      padding: 40px 20px;
      box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
      transition: transform 0.5s;
}
.testonomial .col-3 img{
    width: 90px;
    margin-top: 20px;
    border-radius: 50%;
}
.testonomial .col-3:hover{
      transform: translateY(-10px);
}
.col-5 img{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 1s;
}
.col-5 img:hover{
    filter: grayscale(0%);
}
.footer{
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: grey;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    padding-bottom: 50px;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 10px;
}
.app-logo img{
    width: 140px;
}
.s1{
    margin-bottom: 39px;
    width: 170px;
    height: 65px;
}

.footer hr{
    background-color: grey;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    margin-left: 20px;
    display: none;
}
.row-2{
    margin: 60px auto 50px;
}
.a-p{
    overflow: hidden;
}
.a-p::after{
    content: '';
    background: #042ae6;
    width: 110px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    left: 21%;
    bottom: 390px;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
}
.a-p:hover::after{
    transform: scaleX(1);
}
select{
    border: 2px solid #042ae6;
    padding: 10px;
    border-radius: 6px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
span{
    display: inline-block;
    border: 2px solid #042ae6;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    cursor: pointer ;
    transition: 0.5s ease;
}
span:hover{
    background-color: #042ae6;
    color: white;
}
.single-product{
    margin-top: 40px;
}
.single-product .col-2{
    margin-bottom: 10px;
}
.single-product .col-2 img{
    padding: 0px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.single-product .col-2{
    padding: 10px;
}
.single-product select{
    display: block;
    margin-top: 20px;
    padding: 10px;
}
.single-product input{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 20px;
    border: 2px solid #042ae6;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    margin-left: 10px;
}
/*cart page*/
.cart-page{
    margin: 50px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:white;
    background: #042ae6;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 60px;
    height: 40px;
    padding: 5px;
    border: 2px solid black;
}
 td a{
    color: #042ae6;
    font-size: 15px;
}
td p{
    color: black;
    font-weight: bold;
}
td img{
    width: 110px;
    height: 110px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #042ae6;
    width: 100%;
    max-width: 370px;
}
.total-price td{
    color: black;
    font-weight: bold;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.option select{
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
}
.option select:focus{
    outline: none;
}

/*account-page*/

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#8697ea);   
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    border: 0px;
}
.form-container span:hover{
background-color: white;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn :focus{
    outline: none;
}
#Loginform{
    left: -300px;
}
#Regform{
    left: 0;
}
#Indicator{
    width:100px;
    border: none;
    background: #042ae6;
    height: 3px;
    margin-top: 6px;
    margin-left: 32px;
    transform: translateX(100px);
    transition: transform 1s;
}











@media only screen and (max-width:868px){
    nav ul{
        position: absolute;
        top: 150px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-info p{
        display: none;
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
    .page-btn{
        text-align: center;
    }
    .single-product .col-2{
        text-align: left;
    }
}
